@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
  --paragraph-font: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  position: relative;
  width: 20em;
  text-align: center;
}

aside h3 {
  position: absolute;
  top: 0px;
  left: 105px;
}

aside img {
  width: 200px;
  height: auto;
}

main {
  width: auto;
}

main h1 {
  text-align: center;
}

main h2 {
  position: absolute;
  top: 360px;
  left: 30px;
}
main img {
  float: right;
  width: 150px;
  height:auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p { 
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  padding: 2px;
  text-align: left;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

h1 {
  color: rgb(218, 135, 10);
}

nav a {
  color: rgb(214, 204, 57);
  padding: 10px;
  display: block;
}

nav {
  background-color: rgb(24, 97, 207);
  padding: 10px;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.897);
  background-color: rgb(218, 135, 10);
  color: #000000;
}