@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
  --paragraph-font: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, aside, main, nav a, h1, h3 {
  display: block;
}

aside {
  position: relative;
  width: 20rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
  width: 200px;
  height: auto;
}

main {
  width: auto;
  margin: 2rem;
  grid-column: 2/3;
}

h1 {
  text-align: center;
  border-bottom: 1px solid #000;
  color: rgb(218, 135, 10);
}

h2 {
  border-top: 1px solid #000;
}

h3 {
  /* position: absolute;
  top: 119px;
  left: 105px; */
  font-weight: bold;
  font-size: 2em;
}

main img {
  float: right;
  width: 150px;
  height:auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p { 
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
  padding: 8px;
  text-align: left;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.grid {
  display: grid;
  align-items: center;
}

nav a {
  color: rgb(255, 251, 40);
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

nav {
  border: 1px solid #000;
  background-color: rgb(42, 109, 255);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  font-family: var(--paragraph-font);
  font-size: 1.2rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1.2rem;
  border: 1px solid black;
  background-color: rgb(218, 135, 10);
  color: #000000;
}